body {
    font-family: JetBrains Mono, monospace;
    color: #22223b; /* Dark Blue */
    background-color: #f2e9e4; /* Light Beige */
}

header {
    font-family: JetBrains Mono, monospace;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: JetBrains Mono, monospace;
    background-color: #22223b; /* Dark Blue */
    color: #f2e9e4; /* Light Beige */
    padding: 1rem;
    text-align: center;
}

h2 {
    font-family: JetBrains Mono, monospace;
    background-color: #22223b; /* Dark Blue */
    color: #f2e9e4; /* Light Beige */
    padding: 1rem;
    text-align: center;
}

a {
    padding: .5em;
    line-height: 2rem;
    color: #4a4e69; /* Medium Blue */
}

main {
    padding: 2rem;
}

.dark-mode, .dark-mode a {
    background-color: #22223b; /* Dark Blue */
    color: #f2e9e4; /* Light Beige */
}

.dark-mode h1, .dark-mode h2  {
    background-color: #4a4e69; /* Medium Blue */
    color: #f2e9e4; /* Light Beige */
}

footer {
    background-color: #22223b; /* Dark Blue */
    color: #f2e9e4; /* Light Beige */
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button1 {
    background-color: #060613; /* Dark Blue */
    color: #f2e9e4; /* Light Beige */
    padding: 1em;
    line-height: 2rem;
    border: 1em;
    cursor: pointer;
}